@{
  Layout ="shared/_Layout.cshtml";
}
<h3>Add a new band</h3>
<hr />
<form action="/bands/new" method="post">
  <label for="band-name">Band Name</label>
  <input id="band-name" name="band-name" type="text">
  <button type="submit">Add new band</button>
</form>
<h4><a href="/">Back home</a></h4>
<h4><a href="/bands">View all bands</a></h4>
